{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-decorators",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    [
      "import",
      [
        {
          "libraryName": "../node_modules/ant-design-vue/es",
          "libraryDirectory": "",
          "style": true
        },
        {
          "libraryName": "../../node_modules/ant-design-vue/es",
          "libraryDirectory": "",
          "style": true
        }
      ]
    ]
  ]
}
